.project_details{
    padding: 2em;
}

.project_details h1,
.project_details h2,
.project_details p{
    margin-bottom: 0.5em;
}

.project_details h1{
    background-color: var(--backgroundColor);
    color: var(--titleColor);
    padding: 0.4em;
}

.project_details span{
    font-weight: bold;
}

.details_container,
.service_form_container{
    border-bottom: 1px solid var(--secondColor);
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.details_container button, 
.service_form_container button{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: var(--backgroundColor);
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    max-height: 40px;
    border: none;
}

.btn:hover{
    color: var(--titleColor);
}

.project_info{
    width: 100%;
}